<div class="aside-inner">
  <!-- <div class="logo">
    <a [routerLink]="['/']">
      <img *ngIf="!settings.layout.collapsed" src="./assets/yzf-logo.png" alt="{{settings.app.name}}" style="max-height:40px;margin-right: 60px;" />
      <span style="color: white;font-size: 20px;" (click)="toggleCollapsedSideabar()">
        <i class="anticon anticon-menu-{{settings.layout.collapsed ? 'unfold' : 'fold'}}"></i>
      </span>
    </a>
  </div> -->
  <sidebar-nav class="d-block py-lg"></sidebar-nav>
</div>
